{#
/**
 * @file
 *
 * Product Variation 'Summary' template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product_variation: The rendered product variation fields.
 *   Use 'product_variation' to print them all, or print a subset such as
 *   'product_variation.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product_variation|without('title') }}
 *   @endcode
 * - product_variation_entity: The product variation entity.
 * - url: The product URL.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'product-variation',
    'product-variation--type-' ~ product_variation_entity.bundle|clean_class,
    view_mode ? 'product-variation--view-mode-' ~ view_mode|clean_class,
    product_variation.field_media.0 ? 'product-variation--has-image',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="product-variation__image">
    {% if product_variation.field_media.0 %}
      {{ product_variation.field_media.0 }}
    {% else %}
      {{ product_variation.product_id }}
    {% endif %}
  </div>
  {{ product_variation|without('field_media','product_id') }}
</div>
